.player {
    border: 1px solid #b9b9b9;
    cursor: grab;
    width: 300px;
    height: auto;
  }
  
  .player:hover {
    background-color: #5d5d5d;
  }
  
  .player-form input {
    margin: 5px 0;
    display: block;
  }
  
  .player-details {
    cursor: pointer;
  }
  