.player {
  border: 1px solid #b9b9b9;
  cursor: grab;
  width: 330px;
  height: 150px;
}

.player:hover {
  background-color: #5d5d5d;
}

form {
  height: 100%;
}

.player-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player-form button {
  margin-top: 10px;
  display: block;
}

.player-form input {
  margin-left: 10px;
  margin-bottom: 3px;
  margin-top: 2px;
  display: block;
}

.player-details {
  cursor: pointer;
  position: relative;
  height: 100%;
}

.player-details p {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

.player-details h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.player-details h4 {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
