:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player-list-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px
}

.active-rosters {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
}
.back-button {
  position: absolute;
  left: 10px;
  bottom: 5px;
  padding: 10px;
  font-size: 12px;
  width: 160px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #9d4caf;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #8b45a0;
  cursor: pointer;
}

.editing-title {
  position: absolute;
  left: 10px;
  bottom: 50px;
}