.singleplayer-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.singleplayer-stats-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
}
.singleplayer-stats-list h3 {
    font-size: 15px;
    color: var(--pale-yellow);
    border-bottom: 1px solid var(--cadmium-violet);
}

.singleplayer-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
}

.singleplayer-header p {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
}

.singleplayer-stats-list p {
    color: var(--corn)
}

.player-name {
    border-bottom: 3px solid var(--mustard-yellow);
}