.editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.editor {
    background-color: rgba(47, 0, 48, 0.6);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 0);
    width: 1200px;
    max-width: 90%;
}
.editor h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.editor h3 {
    margin-top: 0;
}
.input-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}
.input-group {
    margin-bottom: 15px;
    padding-right: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffd9005a;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #474747;
}

.button-group button:first-child {
    background-color: #4CAF50;
    color: white;
}

.button-group button:first-child:hover {
    background-color: #5fd765;
}

.button-group button:last-child {
    background-color: #f44336;
    color: white;
}

.button-group button:last-child:hover {
    background-color: #ff605d;
}

.number-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-input-container input {
    width: 60px;
    padding: 8px;
    border: 1px solid #ffd9005a;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    margin: 0 5px;
}

.number-input-container button {
    padding: 8px 12px;
    border: 1px solid #ffd9005a;
    border-radius: 4px;
    background-color: #000000;
    cursor: pointer;
    font-size: 14px;
}

.number-input-container button:hover {
    background-color: #585858;
}

.number-input-container button:active {
    background-color: #7a7a7a;
}

.number-input-container input[type=number]::-webkit-inner-spin-button,
.number-input-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.number-input-container input[type=number] {
    -moz-appearance: texfield;
    appearance: textfield;
}