.player-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    overflow-y: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid rgb(85, 85, 85);

    -ms-overlfow-style: none;
    scrollbar-width: none;
}

.player-list-container::-webkit-scrollbar {
    display: none;
}

.player-list {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.list-title {
    margin-bottom:  10px;
    text-align: center;
}
