.roster {
    width: 250px;
    border: 2px solid #4d4d4d;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-height: 300px;
}
.roster-players {
    margin: auto;
}