.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgba(47, 0, 48, 0.6);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 0);
    width: 800px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close {
    position: absolute;
    top: 18%;
    right: 22%;
    font-size: 50px;
    cursor: pointer;
    color: #6a1b9a;
}

.close:hover {
    color: #4a148c;
}

.modal-body {
    display: flex;
    gap: 20px;
}

.left-section {
    flex: 1;
}

.right-section {
    width: 300px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e8c4ff;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #6a1b9a;
    border-radius: 4px;
    background-color: #000000;
    color: #e4cfff;
}

input:focus {
    outline: none;
    border-color: #ffeb3b;
    box-shadow: 0 0 5px #ffeb3b;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #6a1b9a;
    color: #fffde7;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a148c;
}

.team-toggle {
    display: flex;
    justify-content: center;
}

.team-toggle label {
    align-items: center;
    gap: 5px;
    color: #e8c4ff;
    font-weight: bold;
    cursor: pointer;
}

.team-toggle input[type="radio"] {
    accent-color: #f1ff2b;
    margin: 0;
    cursor: pointer;
}


.import-button {
    background-color: #ffeb3b;
    color: #6a1b9a;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.import-button:hover {
    background-color: #fbc02d;
}