.layout-preview-container {
    position: relative;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.stats-url {
    letter-spacing: 5px;
    font-weight: 200;
    text-decoration: none;
}

.stats-link {
    position: absolute;
    top: 0;
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

.stats-link:hover {
    background-color: rgba(255, 225, 0, 0.1);
}

.embedded-preview {
    top: 0;
    border-radius: 5px;
    border: 1px solid var(--mustard-yellow);
    width: 95%;
    height: 95%;
}